include LICENSE
include *.rst
include *.md
include *.json
include *.txt
include .bowerrc

recursive-include . *.ipynb
recursive-include nb-inkscapelayers *.*

recursive-exclude . __pycache__
recursive-exclude . *.py[co]
